.TodoWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -6px 3px 21px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: -6px 3px 21px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -6px 3px 21px -2px rgba(0,0,0,0.75);
    width: 700px;
    background-color: white;
    flex-direction: column;
    border-radius: 5px;
   
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50px;
  
}

/* todoWrapper.css */
.Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 05px;

  }
  h1{
    font-size: 35px;
    font-weight: 600;
    margin: 10px 0;
    padding: 05px;
    background-color: white;

  }
  
  .Todo p {
    cursor: pointer;
  }
  
  .Todo p.completed {
    text-decoration: line-through;
    color: grey;
  }
  
  .icons {
    display: flex;
    cursor: pointer;
   
  }
  .filter-buttons{
    background-color: white;
    width: 220px;
    display: flex;
    justify-content: space-between;

  }
  .filter-buttons > button{
    padding: 5px;
    background-color: black;
    color: white;
  }
